{% extends "base.html" %}

{% block content %}
<div class="private_messages">
    <h1>Собеседники</h1>
    <div class="partners">
    {% for thread in threads %}
        <p><a href="/messages/chat/{{ thread.id }}/">{{ thread.partner.username }} ({{ thread.total_messages|default_if_none:"0" }} {{ thread.total_messages|pluralize:"сообщение,сообщения,сообщений" }})</a></p>
    {% empty %}
        <p>Пока что собеседников нет.</p>
    {% endfor %}
    </div>
    <h1>Отправить сообщение</h1>
    <form action="/messages/send_message/" method="post" class="new_message">
        {% csrf_token %}
        <p class="name"><input name="recipient_name" placeholder="Имя получателя"></p>
        <p><textarea name="message" placeholder="Сообщение"></textarea></p>
        <p><input type="submit" value="Отправить"></p>
    </form>
</div>
{% endblock content %}
